<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="icetea.com.xmaslivewallpaper">

    <uses-feature android:name="android.software.live_wallpaper" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <service
            android:label="@string/app_name"
            android:name=".XMasWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/xmas" />
        </service>

        <activity
            android:label="@string/setting"
            android:name=".SettingsActivity"
            android:theme="@android:style/Theme.Light.WallpaperSettings"
            android:exported="true">
        </activity>

    </application>

</manifest>
